.eiffel-container {

    margin-top: 90px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;

}

.eiffel-container div {

    margin: auto;
}

.eiffel-photo {

    width: 720px;
    height: 500px;
    background-image: url('../../assets/images/fotografia/documental/paris.png');
    background-size: cover;
    margin: 10px;
}

.eiffel-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.eiffel-desc {

    margin: auto;
    justify-content: center;
   
}

@media (min-width:320px) and (max-width:428px) {

    .eiffel-container {

        margin: auto;
        position: absolute;
        left: -700px;

    }

    .eiffel-container-t {

        left: 0px;
        transition: left 1s;
    }
    
    
    .eiffel-photo {
    
        position: absolute;
        width: 316px;
        height: 231px;
        left: 30px;
        top: 162px;
        border-radius: 72px;
    }
    
    .eiffel-footer {
    
        position: absolute;
        width: 54px;
        height: 28px;
        left: 163px;
        top: 412px;
        font-size: 20px;
        font-weight: 700;
    
    }
    
    .eiffel-desc {
    
        position: absolute;
        width: 133px;
        height: 34px;
        left: 124px;
        top: 451px;
        font-size: 12px;
       
    }

}

