@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.main {

    width: 100%;
    height: 100%;

}
.startpage {

    width: 100vw;
    height:100vh;
    background-image: url('../../assets/images/startpage.png');
    background-repeat: round;
    background-size: cover;
}

.designerName {
    display: none;
}

.startnone {
    background: none;
}


@media (min-width:320px) and (max-width:428px) {

    .startpage {

        width: 100vw;
        height:100vh;
        background-image: url('../../assets/images/startpage360x640.png');
        background-repeat:no-repeat;
        background-size: cover;
        background-position-x: -80px;
    }

    .designerName {

        display: block;
        position: absolute;
        left: 45px;
        top: 363px;
        width: 282px;
        height: 84px;
        left: 45px;
        top: 363px;
        background-color: #000000;
        box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.25);
        border-radius: 62px;
        color: #FFFCFC;

    }
    .designerName span {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 282px;
        height: 84px;
        font-family: 'Jockey One', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        color: #FFFCFC;

    }

    .startnone {
        background: none;
    }

}


@media (min-width:429px) and (max-width:768px) {

    .startpage {

        width: 100vw;
        height:100vh;
        background-image: url('../../assets/images/startpage360x640.png');
        background-repeat:no-repeat;
        background-size: cover;
    }

    .designerName {

        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 587px;
        height: 150px;
        left: 90px;
        top: 499px;
        background-color: #000000;
        box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.25);
        border-radius: 62px;
        color: #FFFCFC;

    }
    .designerName span {


        align-items: center;
        width: auto;
        height: auto;
        font-family: 'Jockey One', sans-serif;
        font-weight: 400;
        font-size: 40px;
        color: #FFFCFC;

    }

    .startnone {
        background: none;
    }

}

