.main {

    width: 100%;
    height: 100%;

}
.startpage {

    width: 100vw;
    height:100vh;
    background-image: url('../../assets/images/startpage.png');
    background-repeat:round;
    background-size: auto;
}

.startnone {
    background: none;
}

