.marry-container {
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.marry-photo {

    width: 1042px;
    height: 745px;
    background-image: url('../../assets/images/fotografia/documental/pedacito\ de\ felicidad.png');
    background-size: cover;
    margin: 10px;
}

.marry-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.marry-desc {

    margin: auto;
    justify-content: center;
   
}