.marry-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.marry-container div {

    margin: auto;
}

.marry-photo {
    
    width: 630px;
    height: 500px;
    background-image: url('../../assets/images/fotografia/documental/pedacito\ de\ felicidad.png');
    background-size: cover;
    margin: 10px;
}

.marry-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.marry-desc {

    margin: auto;
    justify-content: center;
   
}

@media (min-width:320px) and (max-width:428px) {

    .marry-container {

        margin: 0;
        position: absolute;
        left: 500px;

    }

    .marry-container-t {

        left: 0px;
        transition: left 1s;
    }
    
    .marry-photo {
    
        position: absolute;
        width: 310px;
        height: 218px;
        left: 34px;
        top: 175px;
        border-radius: 73px;
        margin: auto;
    }
    
    .marry-footer {
    
        position: absolute;
        width: 205px;
        height: 28px;
        left: 92px;
        top: 414px;
        font-size: 20px;
    
    }
    
    .marry-desc {
    
        position: absolute;
        width: 279px;
        height: 64px;
        left: 36px;
        top: 463px;
        font-size: 12px;
    }
}

