.brand-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'none1 photo1'
    'photo2 desc';
    grid-gap: 40px;
}

.none1-brand {
    grid-area: none1;
}

.photo1-brand {

    grid-area: photo1;
    width: 558px;
    height: 449px;
    background-image: url('../../assets/images/fotografia/producto/shasa.png');
    background-size: cover;
}

.photo2-brand {

    grid-area: photo2;
    width: 733px;
    height: 563px;
    background-image: url('../../assets/images/fotografia/producto/shasa\ mockup.png');
    background-size: cover;
    border-radius: 72px;
}

.description-brand {

    width: 487px;
    height: 280px;
    grid-area: desc;
    text-align: center;
    align-self: center;
    font-family: 'KyivType Sans';
}