.brand-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'none1 photo1'
    'photo2 desc';
    grid-gap: 40px;
}

.none1-brand {
    grid-area: none1;
}

.photo1-brand {

    grid-area: photo1;
    width: 558px;
    height: 449px;
    background-image: url('../../assets/images/fotografia/producto/shasa.png');
    background-size: cover;
}

.photo2-brand {

    grid-area: photo2;
    width: 733px;
    height: 563px;
    background-image: url('../../assets/images/fotografia/producto/shasa\ mockup.png');
    background-size: cover;
    border-radius: 72px;
}

.description-brand {

    width: 487px;
    height: 280px;
    grid-area: desc;
    text-align: center;
    align-self: center;
    font-family: 'KyivType Sans';
}

@media (min-width:320px) and (max-width:428px) {

    .brand-container {

        display: block;
        width: 100%;
        position: absolute;
        right: -700px;

    }

    .brand-container-t {

        right: 0px;
        transition: right 1s;
    }
    
    .none1-brand {
        display: none;
    }
    
    .photo1-brand {
    
        position: absolute;
        width: 163px;
        height: 140px;
        left: 99px;
        top: 98px;
        border-radius: 29px;
    }
    
    .photo2-brand {
    
        position: absolute;
        width: 232px;
        height: 189px;
        left: 58px;
        top: 439px;
        border-radius: 84px;
    }
    
    .description-brand {
    
        position: absolute;
        width: 244px;
        height: 140px;
        left: 58px;
        top: 244px;
    }

    .description-brand h1 {
        font-size: 20px;
    }

    .description-brand p {
        font-size: 10px;
    }

}

