.watch-container {

    margin-top: 189px;
    display: grid;
    grid-gap:20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2'
    'photo3 desc';
}

.photo1-watch {

    position: relative;
    left: 54px;
    width: 569px;
    height: 390px;
    background-image: url('../../assets/images/fotografia/producto/reloj.png');
    background-size: cover;
    grid-area: photo1;

}

.photo2-watch {

    width: 463px;
    height: 301px;
    background-image: url('../../assets/images/fotografia/producto/reloj\ 2.png');
    background-size: cover;
    grid-area: photo2;

}

.photo3-watch {

    width: 705px;
    height: 533px;
    background-image: url('../../assets/images/fotografia/producto/TIMEX.png');
    background-size: cover;
    border-radius: 72px;
    grid-area: photo3;

}

.description-watch {

    width: 559px;
    height: 390px;
    font-family: 'KyivType Sans';
    grid-area: desc;
    text-align: center;
    align-self: center;
}

@media (min-width:320px) and (max-width:428px) {

    .watch-container {

        margin-top: 0px;
        width: 100%;
        display: block;
        position: absolute;
        right: -700px;

    }

    .watch-container-t {

        right: 0px;
        transition: right 1s;
    }
    
    .photo1-watch {
    
        position: absolute;
        width: 187px;
        height: 155px;
        left: 0px;
        top: 125px;
        border-radius: 72px;
    
    }
    
    .photo2-watch {
    
        position: absolute;
        width: 159px;
        height: 143px;
        left: 193px;
        top: 125px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 39px;
    
    }
    
    .photo3-watch {
    
        position: absolute;
        width: 257px;
        height: 192px;
        left: 51px;
        top: 448px;
        border-radius: 57px;
    }
    
    .description-watch {
    
        position: absolute;
        width: 259px;
        height: 96px;
        left: 59px;
        top: 271px;
    }

    .description-watch h1 {
        font-size: 20px;
    }

    .description-watch p {
        font-size: 10px;
    }
    
}

