.musician-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.musician-photo {

    width: 1042px;
    height: 780px;
    background-image: url('../../assets/images/fotografia/documental/Captura\ de\ pantalla\ \(149\)\ 1.png');
    background-size: cover;
    margin: 10px;
}

.musician-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.musician-desc {

    margin: auto;
    justify-content: center;
   
}

@media (max-width: 360px) and (max-height: 640px) {

    .musician-container {

        margin-top: auto;
        position: absolute;
        left: -500px;

    }

    .musician-container-t {
        left: 0px;
        transition: left 1s;
    }
    
    .musician-photo {
    
        position: absolute;
        width: 328px;
        height: 252px;
        left: 18px;
        top: 177px;
        border-radius: 64px;
    }
    
    .musician-footer {
    
        position: absolute;
        width: 171px;
        height: 28px;
        left: 103px;
        top: 449px;
        font-size: 20px;        
    
    }
    
    .musician-desc {
    
        position: absolute;
        width: 141px;
        height: 51px;
        left: 121px;
        top: 497px;
        font-size: 12px;
    }
}