@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

@font-face {
    font-family: KyivType Sans;
    src: url('../../assets/fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular-.otf');

}

.mywork-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mywork-title {

    margin: auto;
    font-family: 'Kosugi', sans-serif;
    font-size: 128pt;
    font-weight: 400;
    text-align: center;
}

.mywork-text {

    width: 80%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 400;
    font-size: 28pt;
    text-align: center;
}

@media (max-width: 360px) and (max-height:640px) {
  
    .mywork-title {
        position: absolute;
        width: 288px;
        height: 64px;
        left: 35px;
        top: 33px;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
    }

    .mywork-text {

        position: absolute;
        width: 292px;
        height: 272px;
        left: 30px;
        top: 122px;
        font-weight: 350;
        font-size: 11px;
        line-height: 13px;
    }
}


