.age-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.age-photo {

    width: 1042px;
    height: 790px;
    background-image: url('../../assets/images/fotografia/documental/la\ mirada\ de\ la\ edad.png');
    background-size: cover;
    margin: 10px;
}

.age-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.age-desc {

    margin: auto;
    justify-content: center;
   
}

@media ((max-width: 360px) and (max-height: 640px)) or ((max-width: 375px) and (max-height: 667px)) {

    .age-container {

        margin: auto;
        position: absolute;
        left: -600px;
    }

    .age-container-t {
        
        left: 0px;
        transition: left 1s;
    
    }
    
    .age-photo {
    
        margin: auto;
        position: absolute;
        width: 312px;
        height: 270px;
        left: 24px;
        top: 144px;
        
    }
    
    .age-footer {
    
        margin: auto;
        position: absolute;
        width: 245px;
        height: 28px;
        left: 71px;
        top: 428px;
        font-size: 20px;
    
    }
    
    .age-desc {

        position: absolute;
        width: 193px;
        height: 28px;
        left: 101px;
        top: 485px;
        font-size: 12px;

    }
}