.jewelry-container {

    grid-gap: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 none1 photo2'
    'none2 photo3 desc';

}


.jewelry-container div {
    
    border-radius: 72px;
    font-family: 'KyivType Sans';
}

.photo1-jewelry {

    width:452px;
    height: 373px;
    grid-area: photo1;
    background-image: url('../../assets/images/fotografia/producto/joya\ 1.png');
    background-size: cover;
    background-position: center;
}

.none1-jewelry {
    grid-area: none1;
}

.photo2-jewelry {
    
    width:452px;
    height: 373px;
    grid-area: photo2;
    background-image: url('../../assets/images/fotografia/producto/joya\ 2.png');
    background-size: cover;
    background-position: center;
}

.none2-jewelry {
    grid-area: none2;
}

.photo3-jewelry {
    width: 567px;
    height: 474px;
    grid-area: photo3;
    background-image: url('../../assets/images/fotografia/producto/Mokup\ joyeria.png');
    background-size: cover;
    background-position: center;
}

.description-jewelry {
    grid-area: desc;
    text-align: center;
    font-size: 20px;
}

.description-jewelry p {
    grid-area: desc;
    text-align: center;
    font-size: 15px;
}


@media ((max-width: 360px) and (max-height: 640px)) or ((max-width: 375px) and (max-height: 667px)) or ((max-width: 360px) and (max-height: 720px)) {

    .jewelry-container {

        display: block;
        position: absolute;
        left: -700px;
    
    }

    .jewelry-container-t {
    
        left: 0px;
        transition: left 1s;
    }

    .none1-jewelry {
        display: none;
    }

    
    .none2-jewelry {
        display: none;
    }
    

    .photo1-jewelry {

        position: absolute;
        width: 190px;
        height: 173px;
        left: 11px;
        top: 95px;

    }
    
    .photo2-jewelry {
    
        position: absolute;
        width: 153.17px;
        height: 174.01px;
        left: 203.04px;
        top: 95px;
        filter: drop-shadow(27px 26px 36px rgba(0, 0, 0, 0.25));
 
    }
    
    
    .photo3-jewelry {

        position: absolute;
        width: 228px;
        height: 203px;
        left: 51px;
        top: 423px;
        filter: drop-shadow(38px 7px 28px rgba(0, 0, 0, 0.25));        
 
    }
    
    .description-jewelry {

        position: absolute;
        width: 270px;
        height: 70px;
        left: 47px;
        top: 252px;
    }

    .description-jewelry h1 {

        font-size: 20px;
    }
    
    .description-jewelry p {

        font-size: 10px;
    }

}

