.productphotos-container {
    display: grid;
    margin-top: 80px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "photo1 photo2"
      "photo3 photo4"
      "photo5 photo6"
      "photo7 photo7"
      "photo8 photo8"
      ;
}

.product-photo1 {
    width: 632px;
    height: 520px;
    background-image: url('../../assets/images/fotografia/producto/joya\ 1.png');
    background-size: cover;
    grid-area: photo1;
    margin-left:20px;
    margin-bottom: 20px;
}

.product-photo1 button {
    
    position: relative;
    width: 500px;
    height: 400px;
    top: 10%;
    left: 6%;
    background: none;
    border-radius: 92px;
    border: none;
}

.product-photo1 button:hover {
    cursor: pointer;
}

.product-photo2 {
    width: 530px;
    height: 380px;
    background-image: url('../../assets/images/fotografia/producto/bones.png');
    background-size: cover;
    grid-area: photo2;
    margin-left:20px;
    margin-bottom: 20px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 100px;
    justify-self: center;
    align-self: center;
}

.product-photo2 button {
    
    width: 530px;
    height: 380px;
    background: none;
    border-radius: 92px;
    border: none;
}

.product-photo2 button:hover {
    cursor: pointer;
}

.product-photo3 {
    width: 632px;
    height: 520px;
    background-image: url('../../assets/images/fotografia/producto/dulces.png');
    background-size: cover;
    grid-area: photo3;
    margin-left:20px;
    margin-bottom: 20px;
}

.product-photo3 button {
    
    position: relative;
    top: 5%;
    width: 560px;
    height: 450px;
    background: none;
    border-radius: 92px;
    border: none;

}

.product-photo3 button:hover {
    cursor: pointer;
}


.product-photo4 {
    width: 530px;
    height: 400px;
    background-image: url('../../assets/images/fotografia/producto/reloj.png');
    background-size: cover;
    background-color: green;
    grid-area: photo4;
    margin-left:20px;
    margin-bottom: 20px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 72px;
    justify-self: center;
    align-self: center;
}

.product-photo4 button {
    
    width: 530px;
    height: 400px;
    background: none;
    border-radius: 92px;
    border: none;
}

.product-photo4 button:hover {
    cursor: pointer;
}

.product-photo5 {
    width: 530px;
    height: 400px;
    background-image: url('../../assets/images/fotografia/producto/cvaly.png');
    background-size: cover;
    background-color: black;
    grid-area: photo5;
    margin-left:20px;
    margin-bottom: 20px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 100px;
    justify-self: center;
    align-self: center;
}

.product-photo5 button {
    
    width: 530px;
    height: 400px;
    background: none;
    border-radius: 92px;
    border: none;
}

.product-photo5 button:hover {
    cursor: pointer;
}

.product-photo6 {
    width: 530px;
    height: 400px;
    background-image: url('../../assets/images/fotografia/producto/shasa.png');
    background-size: cover;
    background-color: orange;
    grid-area: photo6;
    margin-left:20px;
    margin-bottom: 20px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 100px;
    justify-self: center;
    align-self: center;
}

.product-photo6 button {
    
    width: 530px;
    height: 400px;
    background: none;
    border-radius: 92px;
    border: none;
   
}

.product-photo6 button:hover {
    cursor: pointer;
}

.product-photo7 {
    width: 974px;
    height: 735px;
    background-image: url('../../assets/images/fotografia/producto/bolsa.png');
    background-size: cover;
    grid-area: photo7;
    margin-left:20px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 150px;
    justify-self: center;
    align-self: center;
}

.product-photo7 button {
    
    width: 970px;
    height: 730px;
    background: none;
    border-radius: 92px;
    border: none;
   
}

.product-photo7 button:hover {
    cursor: pointer;
}


.product-photo8 {
    width: 974px;
    height: 735px;
    background-image: url('../../assets/images/fotografia/producto/anillo.png');
    background-size: cover;
    grid-area: photo8;
    margin-left:20px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 150px;
    justify-self: center;
    align-self: center;
}

.product-photo8 button {
    
    width: 970px;
    height: 730px;
    background: none;
    border-radius: 150px;
   
}

.product-photo8 button:hover {
    cursor: pointer;
}

@media (max-width: 360px) and (max-height:640px) {

    .productphotos-container {

        position: relative;
        top: 800px;

    }

    .productphotos-container-t {

        top: 45px;
        transition: top 1s;

    }

    .product-photo1 {
        width: 179px;
        height: 152px;
        border-radius: 72px;
        margin-left:5px;
        margin-bottom: 20px;
    }

    .product-photo1 button {
    
        position: relative;
        width: 80%;
        height: 80%;
        top: 5%;
        border-radius: 72px;
    }

    .product-photo2 {
        width: 163px;
        height: 139px;
        border-radius: 72px;
        margin-left:5px;
        margin-bottom: 20px;
        box-shadow:22px 21px 42px 13px rgba(0, 0, 0, 0.3);
    }

    .product-photo2 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
    }

    .product-photo3 {
        width: 180px;
        height: 152px;
        border-radius: 72px;
        margin-left:5px;
        margin-bottom: 20px;
    }

    .product-photo3 button {
    
        position: relative;
        top: 5%;
        width: 100%;
        height: 90%;
        border-radius: 72px;
    
    }

    .product-photo4 {
        width: 168px;
        height: 137px;
        margin-left:5px;
        margin-bottom: 20px;
        border-radius: 72px;

    }

    .product-photo4 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
    }

    .product-photo5 {
        width: 174px;
        height: 152px;
        margin-left:5px;
        margin-bottom: 20px;
        border-radius: 72px;
    }

    .product-photo5 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
        border: none;
    }

    .product-photo6 {
        width: 156px;
        height: 152px;
        margin-left:5px;
        margin-bottom: 20px;
        border-radius: 72px;

    }

    .product-photo6 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
       
    }

    .product-photo7 {
        width: 248px;
        height: 226px;
        margin-left:5px;
        margin-bottom: 20px;
        margin-top: 50px;
        border-radius: 72px;

    }

    .product-photo7 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
           
    }

    .product-photo8 {
        width: 248px;
        height: 189px;
        margin-left:5px;
        margin-bottom: 20px;
        margin-top: 50px;
        border-radius: 72px;
    }
    
    .product-photo8 button {
    
        width: 100%;
        height: 100%;
        border-radius: 72px;
    
    }
}