.prison-container {
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.prison-photo {

    width: 1042px;
    height: 880px;
    background-image: url('../../assets/images/fotografia/documental/pricinero\ de\ tus\ pensamientos.png');
    background-size: cover;
    margin: 10px;
}

.prison-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.prison-desc {

    margin: auto;
    justify-content: center;
   
}