.flowers-container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2'
    'none1 photo3'
    'photo4 desc';
    grid-gap: 40px;
}

.photo1-flowers {

    width: 536px;
    height: 461px;
    background-image: url('../../assets/images/fotografia/producto/bolsa.png');
    background-size: cover;
    grid-area: photo1;
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;

}

.photo2-flowers {

    width: 309px;
    height: 258px;
    background-image: url('../../assets/images/fotografia/producto/bolsa\ 2.png');
    background-size: cover;
    grid-area: photo2;

}

.none1-flowers {

    width: 360px;
    height: 298px;
    grid-area: none1;
}

.photo3-flowers {

    width: 309px;
    height: 298px;
    background-image: url('../../assets/images/fotografia/producto/bolsa\ 3.png');
    background-size: cover;
    grid-area: photo3;

}

.photo4-flowers {

    width: 826px;
    height: 665px;
    background-image: url('../../assets/images/fotografia/producto/bolsa\ mockup.png');
    background-size: cover;
    grid-area: photo4;
    border-radius: 72px;

}

.description-flowers {

    width: 309px;
    height: 298px;
    grid-area: desc;
    text-align: center;
    align-self: center;
    font-family: 'KyivType Sans';


}

@media ((max-width: 360px) and (max-height: 640px)) or ((max-width: 375px) and (max-height: 667px)) or ((max-width: 360px) and (max-height: 720px)) {

    .flowers-container {

        width: 100%;
        display: block;
        position: absolute;
        left: -700px;
    }

    .flowers-container-t {

        left: 0px;
        transition: left 1s;


    }
    
    .photo1-flowers {
    
        position: absolute;
        width: 163px;
        height: 145px;
        left: 0px;
        top: 106px;
        border-radius: 72px;
    }
    
    .photo2-flowers {
    
        position: absolute;
        width: 151px;
        height: 124px;
        left: 184px;
        top: 122px;
        border-radius: 36px;
    
    }
    
    .none1-flowers {
    
        display: none;
    }
    
    .photo3-flowers {
    
       display: none;
    
    }
    
    .photo4-flowers {
    
        position: absolute;
        width: 304px;
        height: 225px;
        left: 24px;
        top: 399px;
        border-radius: 60px;
    }
    
    .description-flowers {
    
        position: absolute;
        width: 271px;
        height: 48px;
        left: 41px;
        top: 248px;

    
    }

    .description-flowers h1 {
        font-size: 20px;
    }

    .description-flowers p {
        font-size: 10px;
    }
}

