.scene-container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'desc none1 none2'
    'photo1 photo2 photo3';
    grid-gap: 40px;
    align-items: flex-end;
}

.scene-container div {
    margin: auto;
}

.photo1-scene {

    width: 378px;
    height: 378px;
    background-image: url('../../assets/images/diseño/desiertogif.gif');
    background-size: cover;
    background-position: center;
    grid-area: photo1;
    border-radius: 512px;

}

.photo2-scene {

    width: 690px;
    height: 690px;
    background-image: url('../../assets/images/diseño/bosquegif.gif');
    background-size: cover;
    background-position: center;
    grid-area: photo2;
    border-radius: 690px;

}

.photo3-scene {

    width: 300px;
    height: 217px;
    background-image: url('../../assets/images/diseño/playagif.gif');
    background-size: cover;
    grid-area: photo3;
    border-radius: 72px;

}

.description-scene {

    position: relative;
    top: 150px;
    width: 343px;
    height: 144px;
    grid-area: desc;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: 'KyivType Sans';
    font-size: 12pt;

}

@media (min-width:320px) and (max-width:428px) {

    .scene-container {

        margin: auto;
        display: block;
        position: absolute;
        left: -600px;

    }

    .scene-container-t {

        left: 0px;
        transition: left 1s;
    }
    
    .photo1-scene {
    
        position: absolute;
        width: 144px;
        height: 136px;
        left: 125px;
        top: 89px;
        border-radius: 144px;
        background-position: center;
    
    }
    
    .photo2-scene {
    
        position: absolute;
        width: 192px;
        height: 189px;
        left: -5px;
        top: 229px;
        border-radius: 229px;
        background-position: center;
    
    }
    
    .photo3-scene {
    
        position: absolute;
        width: 175px;
        height: 218px;
        left: 117px;
        top: 438px;
        border-radius: 87.5px;
        background-position: center;
    
    }
    
    .description-scene {
    
        position: absolute;
        width: 156px;
        height: 48px;
        left: 190px;
        top: 296px;
        font-size: 10px;
    
    }
}

@media (min-width:1360px) and (max-width:1440px) {

    .scene-container {

        grid-gap: 0px;

    }
    
    .photo1-scene {
    
        position: relative;
        top: 100px;
        left: 100px;
        width: 200px;
        height: 200px;
        background-position: center;
        border-radius: 200px;
    
    }
    
    .photo2-scene {
    
        width: 400px;
        height: 400px;
        background-position: center;
        border-radius: 400px;
    
    }
    
    .photo3-scene {
    
        position: relative;
        top: 150px;
        left: -100px;
        width: 150px;
        height: 157px;
        border-radius: 72px;
    
    }
    
    .description-scene {
    
        position: relative;
        top: 150px;
        left: 100px;
        width: 343px;
        height: 144px;
        font-size: 12px;
    
    }

    }