.design-container {

    margin-top: 200px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2'
    'photo3 photo3'
    'photo4 photo4';
    grid-gap: 40px;
}

.design-container div {

    margin: auto;
}
.photo1-design {

    position: relative;
    left: 100px;
    width: 359px;
    height: 644px;
    grid-area: photo1;
    background-image: url('../../assets/images/diseño/bilboard.png');
    background-size: cover;
    border-radius: 72px;
}

.photo1-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
}

.photo1-design button:hover {
    cursor: pointer;
}

.photo2-design {


    position: relative;
    left: -100px;
    width: 359px;
    height: 644px;
    grid-area: photo2;
    background-image: url('../../assets/images/diseño/wiskas.png');
    background-size: cover;
    border-radius: 72px;
}

.photo2-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
}

.photo2-design button:hover {
    cursor: pointer;
}


.photo3-design {

    width: 707px;
    height: 552px;
    grid-area: photo3;
    margin-bottom: 20px;
    box-shadow: 22px 21px 42px 13px lightgray;
    border-radius: 72px;
   

    
}

.photo3-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.photo3-design button:hover {
    cursor: pointer;
}

.photo3-design img {

    width: 400px;
    height: 550px;
    
}

.photo3-design img ~ img {

    width: 200px;
    height: 244px;
    
}


.photo4-design {

    width: 707px;
    height: 552px;
    grid-area: photo4;
    background-image: url('../../assets/images/diseño/elglobo.png');
    background-size: cover;
    margin-bottom: 20px;
}

.photo4-design button {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background:none;
    border: none;

}

.photo4-design button:hover {
    cursor: pointer;
}

@media (min-width:320px) and (max-width:428px) {
 
    .design-container {

        margin: auto;
        display: block;
        position: absolute;
        left: 0px;
        top: 700px;

    }

    .design-container-t {

        top: 0px;
        transition: top 1s;

    }
    
    .photo1-design {
    
        position: absolute;
        width: 114px;
        height: 122px;
        left: 125px;
        top: 84px;
        border-radius: 59px;
        
    }
    
    .photo1-design button {

        border-radius: 59px;

    }
    
    .photo2-design {
    
        position: absolute;
        width: 102px;
        height: 128px;
        left: 123px;
        top: 227px;        
        border-radius: 55.5px;
    }
    
    .photo2-design button {

        border-radius: 55.5px;

    }
    
    .photo2-design button:hover {
        cursor: pointer;
    }
    
    
    .photo3-design {
    
        position: absolute;
        width: 122px;
        height: 132px;
        left: 108px;
        top: 369px;
        border: 1px solid #000000;
        border-radius: 246px;
        
    }
    
    .photo3-design button {

        border-radius: 246px;

    
    }
    
    
    .photo3-design img {
    
        width: 55px;
        height: 85px;
        
    }
    
    .photo3-design img ~ img {
    
        width: 30px;
        height: 45px;
        position: relative;
        top: 15px;

    }
    
    
    .photo4-design {
    
        position: absolute;
        width: 129px;
        height: 127px;
        left: 99px;
        top: 523px;
        border-radius: 184px;
        background-position: center;
    }
    
    .photo4-design button {
 
        border-radius: 184px;
    
    }
    
}