.design-container {
    margin-top: 80px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2'
    'photo3 photo3'
    'photo4 photo4';
    grid-gap: 40px;
}

.photo1-design {

    width: 559px;
    height: 844px;
    grid-area: photo1;
    background-image: url('../../assets/images/diseño/bilboard.png');
    background-size: cover;
    border-radius: 72px;
}

.photo1-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
}

.photo1-design button:hover {
    cursor: pointer;
}

.photo2-design {

    width: 559px;
    height: 844px;
    grid-area: photo2;
    background-image: url('../../assets/images/diseño/wiskas.png');
    background-size: cover;
    border-radius: 72px;
}

.photo2-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
}

.photo2-design button:hover {
    cursor: pointer;
}


.photo3-design {

    width: 1107px;
    height: 852px;
    grid-area: photo3;
    margin-bottom: 20px;
    box-shadow: 22px 21px 42px 13px lightgray;
    border-radius: 72px;
   

    
}

.photo3-design button {
    width: 100%;
    height: 100%;
    border-radius: 72px;
    background:none;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.photo3-design button:hover {
    cursor: pointer;
}

.photo3-design img {

    width: 500px;
    height: 650px;
    
}

.photo3-design img ~ img {

    width: 300px;
    height: 344px;
    
}


.photo4-design {

    width: 1107px;
    height: 852px;
    grid-area: photo4;
    background-image: url('../../assets/images/diseño/elglobo.png');
    background-size: cover;
    margin-bottom: 20px;
}

.photo4-design button {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background:none;
    border: none;

}

.photo4-design button:hover {
    cursor: pointer;
}