.boones-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 none1'
    'photo2 desc';
}


.photo1-boones {
    grid-area: photo1;
    width: 407px;
    height: 289px;
    background-image: url('../../assets/images/fotografia/producto/bones.png');
    background-size: cover;
}

.none1-boones {
    grid-area: none1;
}

.photo2-boones {
    grid-area: photo2;
    width: 803px;
    height: 551px;
    background-image: url('../../assets/images/fotografia/producto/bones\ mockups.png');
    background-size: cover;
    border-radius: 72px;
}

.description-boones {

    grid-area: desc;
    width: 407px;
    height: 289px;
    align-self: flex-end;
    font-family: 'KyivType Sans';
}

@media (min-width:320px) and (max-width:428px) {

    .boones-container {

        margin-top: 100px;
        height: auto;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 600px;
    }

    .boones-container-t {
        left: 0px;
        transition: left 1s;
    }

    .photo1-boones {

        background-size: 100% 90%;
        background-repeat: no-repeat;
        position: absolute;
        width: 216px;
        height: 206px;
        left: 76px;
        top: 18px;
        order: 1;

    }
    
    .none1-boones {
        display: none;
    }
    
    .photo2-boones {

        position: absolute;
        width: 209px;
        height: 195px;
        left: 79px;
        top: 355px;
        order: 3;
    }
    
    .description-boones {
    
        position: absolute;
        width: 221px;
        height: -70px;
        left: 83px;
        top: 200px;
        order: 2;
        text-align: center;
    }

    .description-boones h1 {
        font-size: 20px;
    }

    .description-boones p {
        font-size: 10px;
    }


}


