
.nextArrow {

    width: 166.69px;
    height: 159px;
    position: absolute;
    bottom: 0px;
    top: 80vh;
    left: 65vw;
    transition: all 1s;
    filter: invert(100%);

}

.nextArrowImage {

    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/nextarrow.png');
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.nextArrowClicked {

    width: 60.02px;
    height: 60.02px;
    top: 67%;
    left: 40vw;
    filter: invert(100%);
    transform: rotate(180deg);
    transition: all 1s;
}

.nextArrowClickedTop {

    position: absolute;
    top: 35px;
    left: 47vw;
    transform: rotate(180deg);
    transition: top 1s;
}


.nextArrowHide {
    display: none;
}


.nextArrow a {

    display: block;
    width: 100%;
    height: 100%;
    background-color: none;
}

.toWorkArrow {

    background-image: url('../../../assets/images/nextarrow.png');
    background-size: auto;
    width: 60.02px;
    height: 60.02px;
    position: absolute;
    top: 67%;
    left: 67vw;
    transition: all 1s;

}



.toWorkArrowHide {
    display: none;
}


.aboutWork-image {

    position: absolute;
    height: 509px;
    width: 1046px;
    top: 50%;
    left: 20%;
    z-index: -1;
    overflow: hidden;

}

.aboutWork-image img {

    transition: all 1s;
    width: 100%;
    height: 200%;
 
}




.aboutWork-image-rotate img {
    
    position: relative;
    transform-origin:center;
    transform: rotate(180deg);
    bottom: -30px;
    left: -100px;
    transition: all 1s;
    overflow: hidden;
}

.about-work-image-rotateback img {
    transform: rotate(-180deg);
    transition: all 1s;
}

.aboutWork-imageHide {
    display: none;
}



.nextArrow button {

    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    padding: 0;

}

.toWorkArrow button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;

}


.nextArrowClickedWorkAreas {

    width: 60.02px;
    height: 60.02px;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s;
    filter: invert(100%);    

}

.nextArrowUpDown {

    position: absolute;
    top: 65%;
    transition: top 1s;
}



@media (min-width: 320px) and (max-width:428px) {

    .nextArrow {

        width: 60.02px;
        height: 60.02px;
        position: absolute;
        left: 42.78%;
        right: 43.89%;
        top: 76.88%;
        bottom: 15.16%;

    }

    .nextArrowImage {

        width: 100%;
        height: 100%;
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: auto;
        filter: invert(100%);
    }

    .nextArrowClicked {

        filter: none;
        transform: rotate(180deg);
        transition: all 1s;
        position: absolute;
        width: 60.02px;
        height: 60.02px;
        left: 30vw;
        top: 430px;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;
    }

    .nextArrowClickedWorkAreas {

        width: 60.02px;
        height: 60.02px;
        left: 173px;
        top: 16px;
        filter: none;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;

    }
    

    .aboutWork-image {

        position: absolute;
        width: 330px;
        height: 170px;
        left: 8vw;
        top: 80vh;
    }

    .toWorkArrow {

        position: absolute;
        width: 60.02px;
        height: 60.02px;
        left: 55vw;
        top: 430px;
        border: 1px solid #000000;
        border-radius: 19px;
    }

    .aboutWork-image-rotate img {
    
        position: relative;
        transform-origin:center;
        transform: rotate(180deg);
        left: -30px;
        transition: all 1s;
        overflow: hidden;
    }

    .nextArrowClickedTop {

        width: 49px;
        height: 49px;
        position: absolute;
        top: 25px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;
        
    }

    

}


@media (min-width: 1360px) and (max-width: 1440px) {


    .nextArrow {

        width: 166.69px;
        height: 149px;
        position: absolute;
        top: 75vh;
        left: 65vw;
        filter: invert(100%);
    
    }

    .nextArrow button {

        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        padding: 0;
    
    }
    
    .nextArrowImage {
    
        width: 100%;
        height: 100%;
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: cover;
        background-repeat: no-repeat;
        filter: invert(100%);
    }
    
    .nextArrowClicked {
    
        width: 60.02px;
        height: 60.02px;
        top: 65%;
        left: 39vw;
        filter: invert(100%);
        transform: rotate(180deg);
        transition: all 1s;
    }

    
    .toWorkArrow {
    
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: auto;
        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 65%;
        left: 60vw;
        transition: all 1s;
    
    }
    
    
    .aboutWork-image {
    
        position: absolute;
        height: 57%;
        width: 800px;
        top: auto;
        bottom: 0px;
        left: 25%;
        z-index: -1;
        overflow: hidden;
    
    }
    
    
    .nextArrowClickedWorkAreas {
    
        width: 60.02px;
        height: 60.02px;
        transform: rotate(180deg);
        position: absolute;
        top: 45%;
        left: 47%;
        transition: all 1s;
        filter: invert(100%);    
    
    }

    .nextArrowClickedTop {

        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 35px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
    }
    
    .nextArrowUpDown {
    
        position: absolute;
        top: 70%;
        transition: top 1s;
    }
  
    

}

@media (min-width: 1441px) and (max-width: 1600px) {

    
    .nextArrowClicked {
    
        width: 60.02px;
        height: 60.02px;
        top: 67%;
        left: 40vw;
        filter: invert(100%);
        transform: rotate(180deg);
        transition: all 1s;
    }
    
    
    .toWorkArrow {
    
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: auto;
        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 67%;
        left: 62vw;
        transition: all 1s;
    
    }
    
    
    .aboutWork-image {
    
        position: absolute;
        height: 509px;
        width: 1046px;
        top: 50%;
        left: 20%;
        z-index: -1;
        overflow: hidden;
    
    }
    
    
    .nextArrowClickedWorkAreas {
    
        width: 60.02px;
        height: 60.02px;
        transform: rotate(180deg);
        position: absolute;
        top: 45%;
        left: 45%;
        transition: all 1s;
        filter: invert(100%);    
    
    }

    .nextArrowClickedTop {

        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 35px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
    }
    

}

@media (min-width: 1601px) and (max-width: 1700px) {
    
    
    .nextArrowClicked {
    
        width: 60.02px;
        height: 60.02px;
        top: 67%;
        left: 38vw;
        filter: invert(100%);
        transform: rotate(180deg);
        transition: all 1s;
    }
    
    
    .toWorkArrow {
    
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: auto;
        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 67%;
        left: 58vw;
        transition: all 1s;
    
    }
    
    
    .aboutWork-image {
    
        position: absolute;
        height: 509px;
        width: 1046px;
        top: 50%;
        left: 20%;
        z-index: -1;
        overflow: hidden;
    
    }
    
    
    .nextArrowClickedWorkAreas {
    
        width: 60.02px;
        height: 60.02px;
        transform: rotate(180deg);
        position: absolute;
        top: 45%;
        left: 45%;
        transition: all 1s;
        filter: invert(100%);    
    
    }


    .nextArrowClickedTop {

        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 35px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
    }
}


@media (min-width: 1701px) and (max-width: 1920px) {

    
    .nextArrowClicked {
    
        width: 60.02px;
        height: 60.02px;
        top: 67%;
        left: 35vw;
        filter: invert(100%);
        transform: rotate(180deg);
        transition: all 1s;
    }
    
    
    .toWorkArrow {
    
        background-image: url('../../../assets/images/nextarrow.png');
        background-size: auto;
        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 67%;
        left: 50vw;
        transition: all 1s;
    
    }
    
    
    .aboutWork-image {
    
        position: absolute;
        height: 509px;
        width: 1046px;
        top: 50%;
        left: 20%;
        z-index: -1;
        overflow: hidden;
    
    }
    
    
    .nextArrowClickedWorkAreas {
    
        width: 60.02px;
        height: 60.02px;
        transform: rotate(180deg);
        position: absolute;
        top: 45%;
        left: 45%;
        transition: all 1s;
        filter: invert(100%);    
    
    } 
    
    .nextArrowClickedTop {

        width: 60.02px;
        height: 60.02px;
        position: absolute;
        top: 35px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
    }
    

}

