
.nextArrow {

    
    width: 60.02px;
    height: 60.02px;
    position: absolute;
    top: 80vh;
    left: 65vw;
    transition: all 1s;

}

.nextArrowImage {

    width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/nextarrow.png');
    background-size: auto;
    filter: invert(100%);
}

.nextArrowClicked {

    top: 800px;
    left: 35vw;
    filter: invert(100%);
    transform: rotate(180deg);
    transition: all 1s;
}

.nextArrowClickedTop {

    position: absolute;
    top: 35px;
    left: 47vw;
    transform: rotate(180deg);
    transition: top 1s;
}



.nextArrow a {

    display: block;
    width: 100%;
    height: 100%;
    background-color: none;
}

.toWorkArrow {

    background-image: url('../../../assets/images/nextarrow.png');
    background-size: auto;
    width: 60.02px;
    height: 60.02px;
    position: absolute;
    top: 800px;
    left: 60vw;
    transition: all 1s;

}



.toWorkArrowHide {
    display: none;
}


.aboutWork-image {

    position: absolute;
    height: 509px;
    width: 1046px;
    top: 100%;
    z-index: -1;
    overflow: hidden;

}

.aboutWork-image img {

    transition: all 1s;
    width: 100%;
    height: 200%;
 
}




.aboutWork-image-rotate img {
    
    position: relative;
    transform-origin:center;
    transform: rotate(180deg);
    bottom: -30px;
    left: -80px;
    transition: all 1s;
    overflow: hidden;
}

.about-work-image-rotateback img {
    transform: rotate(-180deg);
    transition: all 1s;
}

.aboutWork-imageHide {
    display: none;
}



.nextArrow button {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 100%;
    border: none;
    background: none;
    padding: 0;

}

.toWorkArrow button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    position: relative;

}


.nextArrowClickedWorkAreas {

    transform: rotate(180deg);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s;
    filter: invert(100%);    

}

.nextArrowUpDown {

    position: absolute;
    top: 850px;
    transition: top 1s;
}

@media (max-width: 360px) and (max-height: 640px) {

    .nextArrow {

        position: absolute;
        left: 42.78%;
        right: 43.89%;
        top: 76.88%;
        bottom: 15.16%;

    }

    .nextArrowClicked {

        filter: none;
        transform: rotate(180deg);
        transition: all 1s;
        position: absolute;
        width: 60.02px;
        height: 60.02px;
        left: 98px;
        top: 430px;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;
    }

    .nextArrowClickedWorkAreas {

        width: 60.02px;
        height: 60.02px;
        left: 173px;
        top: 16px;
        filter: none;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;

    }
    

    .aboutWork-image {

        position: absolute;
        width: 330px;
        height: 170px;
        left: 32.44px;
        top: 470px;
    }

    .toWorkArrow {

        position: absolute;
        width: 60.02px;
        height: 60.02px;
        left: 183px;
        top: 430px;
        border: 1px solid #000000;
        border-radius: 19px;
    }

    .aboutWork-image-rotate img {
    
        position: relative;
        transform-origin:center;
        transform: rotate(180deg);
        left: -30px;
        transition: all 1s;
        overflow: hidden;
    }

    .nextArrowClickedTop {

        position: absolute;
        top: 35px;
        left: 47vw;
        transform: rotate(180deg);
        transition: top 1s;
        background: #000000;
        border: 1px solid #000000;
        border-radius: 19px;
        
    }

    

}
