.bread-container {
    margin-top: 90px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 none1'
    'desc photo2';
    grid-gap: 20px;
}

.bread-container div {
    margin: auto;
}

.photo1-bread {

    width: 577px;
    height: 470px;
    background-image: url('../../assets/images/diseño/elglobo.png');
    background-size: cover;
    grid-area: photo1;
    box-shadow: 22px 21px 42px 13px lightgray;
    border-radius: 72px;

}

.photo2-bread {

    width: 764px;
    height: 540px;
    background-image: url('../../assets/images/diseño/el\ globo\ mockup.png');
    background-size: cover;
    grid-area: photo2;
    box-shadow: 22px 21px 42px 13px lightgray;
    border-radius: 72px;

}

.description-bread {

    width: 343px;
    height: 144px;
    grid-area: desc;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-family: 'KyivType Sans';
    font-size: 12pt;

}

@media (min-width:320px) and (max-width:428px) {

    .bread-container {
        margin: auto;
        display: block;
        position: absolute;
        left: 600px;
        z-index: -1;
        
    }

    .bread-container-t {

        left: 0px;
        transition: left 1s;
    }

    
    .photo1-bread {
    
        position: absolute;
        width: 231px;
        height: 206px;
        left: 53px;
        top: 94px;
        border-radius: 79px;
        box-shadow: 22px 21px 42px 13px lightgray;
    
    }
    
    .photo2-bread {
    
        position: absolute;
        width: 304px;
        height: 172px;
        left: 0px;
        top: 438px;
        border-radius: 67px;
        box-shadow: 22px 21px 42px 13px lightgray;
    
    }
    

    .description-bread h1 {

        position: absolute;
        width: 128px;
        height: 33px;
        left: 109px;
        top: 310px;  
        font-size: 24px;
    }

    .description-bread p {

        position: absolute;
        width: 218px;
        height: 42px;
        left: 63px;
        top: 353px;
        font-size: 10px;
    }
}

@media (min-width:1360px) and (max-width:1440px) {

    .bread-container {
        margin-top: 90px;
        grid-gap: 20px;
    }
    
    .photo1-bread {
    
        position: relative;
        left: 100px;
        width: 277px;
        height: 200px;
        background-position: center
    
    }
    
    .photo2-bread {
    
        position: relative;
        left: -100px;
        width: 464px;
        height: 300px;
        background-position: center;
    
    }
    
    .description-bread {
    
        position: relative;
        left: 100px;
        top: -20px;
        width: 243px;
        height: auto;
        font-size: 12px;
    
    }

}
