.dices-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.dices-photo {

    width: 630px;
    height: 500px;
    background-image: url('../../assets/images/threedim/DADOS.png');
    background-size: cover;

}

.dices-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.dices-desc {

    margin: auto;
    justify-content: center;
   
}

.dices-desc P {

    margin: auto;
}

@media (max-width: 360px) and (max-height: 640px) {

    .dices-container {

        margin-top: 20px;
        display: block;
        position: absolute;
        left: -700px;
    }

    .dices-container-t {
        left: 0px;
        transition: left 1s;

    }
    
    .dices-photo {
    
        position: absolute;
        width: 336px;
        height: 282px;
        left: 24px;
        top: 141px;
        border-radius: 103px;
    
    }
    
    .dices-footer {
    
        position: absolute;
        width: 180px;
        height: 48px;
        left: 92px;
        top: 456px;
        font-size: 20px;
    
    }
    
    .dices-desc {
    
        position: absolute;
        width: 220px;
        height: 48px;
        left: 82px;
        top: 480px;
        font-size: 20px;       
    }
    
    .dices-desc P {
    
        margin: auto;
    }
}