.ux-container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2 desc'
    'photo3 photo2 photo6'
    'photo4 none photo6'
    'photo5 none photo6';
    grid-gap: 20px;
    align-items: center;
    justify-items: center;

}

.photo1-ux {

    width: 349px;
    height: 385px;
    background-image: url('../../assets/images/ux/bosquegif.gif');
    background-size: cover;
    grid-area: photo1;
}

.photo2-ux {
    width: 394px;
    height: 853px;
    background-image: url('../../assets/images/ux/bolitacarga.gif');
    background-size: cover;
    grid-area: photo2;
}

.photo3-ux {
    width: 274px;
    height: 42px;
    background-image: url('../../assets/images/ux/barra.gif');
    background-size: cover;
    background-position-y: 80px;
    background-position-x: -15px;
    border-radius: 72px;
    grid-area: photo3;
}

.photo4-ux {

    width: 267px;
    height: 230px;
    background-image: url('../../assets/images/ux/home.gif');
    background-size: cover;
    grid-area: photo4;
    border-radius: 60px;
}

.photo5-ux {

    width: 200px;
    height: 120px;
    background-image: url('../../assets/images/ux/onoff.gif');
    background-size: 312px;
    background-clip: content-box;
    background-position-y: -32px;
    background-position-x: -79px;
    grid-area: photo5;
    margin-bottom: 20px;
    border-radius: 69px;

}

.description-ux {

    width: 324px;
    height: 332px;
    grid-area: desc;
    font-family: 'KyivType Sans';
    text-align: center;
}

.photo6-ux {

    width: 550px;
    height: 620px;
    background-image: url('../../assets/images/ux/pluma.gif');
    background-size: cover;
    grid-area: photo6;
    border-radius: 72px;
}