.ux-container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2 desc1'
    'photo3 photo2 photo6'
    'photo4 none photo6'
    'photo5 none photo6'
    'desc2 photo7 photo7'
    'figm photo7 photo7';
    grid-gap: 20px;
    align-items: center;
    justify-items: center;

}

.photo1-ux {

    width: 349px;
    height: 385px;
    background-image: url('../../assets/images/ux/bosquegif.gif');
    background-size: cover;
    grid-area: photo1;
}

.photo2-ux {
    width: 394px;
    height: 853px;
    background-image: url('../../assets/images/ux/bolitacarga.gif');
    background-size: cover;
    grid-area: photo2;
}

.photo3-ux {
    width: 274px;
    height: 42px;
    background-image: url('../../assets/images/ux/barra.gif');
    background-size: cover;
    background-position-y: 80px;
    background-position-x: -15px;
    border-radius: 72px;
    grid-area: photo3;
}

.photo4-ux {

    width: 267px;
    height: 230px;
    background-image: url('../../assets/images/ux/home.gif');
    background-size: cover;
    grid-area: photo4;
    border-radius: 60px;
}

.photo5-ux {

    width: 200px;
    height: 120px;
    background-image: url('../../assets/images/ux/onoff.gif');
    background-size: 312px;
    background-clip: content-box;
    background-position-y: -32px;
    background-position-x: -79px;
    grid-area: photo5;
    margin-bottom: 20px;
    border-radius: 69px;

}

.description-ux {

    width: 324px;
    height: 332px;
    grid-area: desc1;
    font-family: 'KyivType Sans';
    text-align: center;
}

.photo6-ux {

    width: 550px;
    height: 620px;
    background-image: url('../../assets/images/ux/pluma.gif');
    background-size: cover;
    grid-area: photo6;
    border-radius: 72px;
}

.photo7-ux {

    margin-top: 50px;
    width: 860px;
    height: 520px;
    background-image: url('../../assets/images/ux/soyte.png');
    background-size: cover;
    grid-area: photo7;
    border-radius: 72px;
}

.photo8-ux {
    display: none;
}

.photo9-ux {

    display: none;
}

.video1-ux {

    display: none;
}

.video2-ux {
    display: none;
}


.description-soyte {

    width: 324px;
    height: 132px;
    grid-area: desc2;
    font-family: 'KyivType Sans';
    text-align: center;
}

.frame-te {

    width: 300px;
    height: 320px;
    grid-area: figm;
    align-self: flex-start;
    box-shadow: 21px 22px 42px 13px lightgray;

}

.frame-te iframe {

    width: 300px;
    height: 320px;
    grid-area: figm;
    border: none;


}

@media (max-width: 360px) and (max-height: 640px) {

    .ux-container {

        display: block;
        position: absolute;
        top: 900px;
        left: 0px;
    
    }

    .ux-container-t {

        top: 0px;
        transition: top 1s;
    }
    
    .photo1-ux {
    
        position: absolute;
        width: 249px;
        height: 255px;
        left: 11px;
        top: 86px;
        background-position: center;
        border-radius: 180px;
    }
    
    .photo2-ux {

        position: absolute;
        width: 157px;
        height: 390px;
        left: 48px;
        top: 444px;
        background-position: center;
        
    }
    
    .photo3-ux {

        position: absolute;
        width: 151px;
        height: 46px;
        left: 205px;
        top: 546px;
        background-size: 151px 150px;
        background-position: center 82px;
    }
    
    .photo4-ux {
    
        position: absolute;
        width: 114px;
        height: 101px;
        left: 224px;
        top: 639px;
        border-radius: 23px;
        background-position: center;
    }
    
    .photo5-ux {
    
        position: absolute;
        width: 114px;
        height: 55px;
        left: 237px;
        top: 779px;
        background-position: -43px 68px;
        background-size: 175px 85px;
        border-radius: 69px;
    
    }
    
    .description-ux {
    
        position: absolute;
        width: 98px;
        height: 72px;
        left: 245px;
        top: 408px;
        font-size: 10px;
    }
    
    .photo6-ux {
    
        position: absolute;
        width: 294px;
        height: 292px;
        left: 33px;
        top: 856px;
        border-radius: 42px;
    }
    
    .photo7-ux {
    
        display: none;
    }

    .photo8-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 78px;
        left: -16px;
        top: 750px;
        border-radius: 11px;
        background-image: url('../../assets/images/ux/barramenus.gif');
        background-position: center;

    }

    .photo9-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 240px;
        left: 47px;
        top: 1163px;
        border-radius: 48px;
        background-image: url('../../assets/images/ux/menuhamburguesa.gif');
        background-position: center;

    }

    .video1-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1426px;
        border-radius: 28px;

    }

    .video1-ux video {

        width: 100%;
        height: 100%;
    }


    .video2-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1709px;
        border-radius: 28px;

    }
    
    .video2-ux video {

        width: 100%;
        height: 100%;
    }

    .description-soyte {
    
        display: none;
    }
    
    .frame-te {
    
        display: none;
    
    }
    

}