.ux-container {

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2 desc1'
    'photo3 photo2 photo6'
    'photo4 photo2 photo6'
    'photo5 photo2 photo6'
    'photo8 photo8 photo8'
    'photo9 photo9 none9'
    'video1-ux photo7 photo7'
    'photo10 photo10 video2-ux';
    grid-gap: 20px;
    align-items: center;
    justify-items: center;

}

.photo1-ux {

    width: 349px;
    height: 385px;
    background-image: url('../../assets/images/ux/bosquegif.gif');
    background-size: cover;
    grid-area: photo1;
}

.photo2-ux {
    width: 394px;
    height: 853px;
    background-image: url('../../assets/images/ux/bolitacarga.gif');
    background-size: cover;
    grid-area: photo2;
}

.photo3-ux {
    width: 274px;
    height: 42px;
    background-image: url('../../assets/images/ux/barra.gif');
    background-size: cover;
    background-position-y: 80px;
    background-position-x: -15px;
    border-radius: 72px;
    grid-area: photo3;
}

.photo4-ux {

    width: 267px;
    height: 230px;
    background-image: url('../../assets/images/ux/home.gif');
    background-size: cover;
    grid-area: photo4;
    border-radius: 60px;
}

.photo5-ux {

    width: 200px;
    height: 120px;
    background-image: url('../../assets/images/ux/onoff.gif');
    background-size: 312px;
    background-clip: content-box;
    background-position-y: -32px;
    background-position-x: -79px;
    grid-area: photo5;
    margin-bottom: 20px;
    border-radius: 69px;

}

.description-ux {

    width: 324px;
    height: 332px;
    grid-area: desc1;
    font-family: 'KyivType Sans';
    text-align: center;
}

.photo6-ux {

    width: 550px;
    height: 620px;
    background-image: url('../../assets/images/ux/pluma.gif');
    background-size: cover;
    grid-area: photo6;
    border-radius: 72px;
}

.photo7-ux {

    margin-top: 50px;
    margin-bottom: 50px;
    width: 811px;
    height: 528px;
    background-image: url('../../assets/images/ux/soyte.png');
    background-size: cover;
    grid-area: photo7;
    border-radius: 72px;
}

.photo8-ux {

    grid-area: photo8;
    width: 1033px;
    height: 691px;  
    background-image: url('../../assets/images/ux/barramenus.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo9-ux {

    grid-area: photo9;
    width: 750px;
    height: 750px;
    background-image: url('../../assets/images/ux/menuhamburguesa.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.photo10-ux {

    position: relative;
    left: 8%;
    width: 768.76px;
    height: 572.31px;
    background-image: url('../../assets/images/ux/ramen.png');
    background-size: cover;
    grid-area: photo10;
    border-radius: 72px;
}

.video1-ux {
    
    position: relative;
    left: 10%;
    display: block;
    grid-area: video1-ux;
    width: 318px;
    height: auto;
}

.video1-ux video {

    width: 100%;
    height: 100%;
}

.video2-ux {

    position: relative;
    right: 10%;
    display: block;
    grid-area: video2-ux;
    width: 327px;
    height: auto;

}

.video2-ux video {

    width: 100%;
    height: 100%;
}

@media (min-width:320px) and (max-width: 428px) {

    .ux-container {

        display: block;
        position: absolute;
        top: 900px;
        left: 0px;
    
    }

    .ux-container-t {

        top: 0px;
        transition: top 1s;
    }
    
    .photo1-ux {
    
        position: absolute;
        width: 249px;
        height: 255px;
        left: 11px;
        top: 86px;
        background-position: center;
        border-radius: 180px;
    }
    
    .photo2-ux {

        position: absolute;
        width: 157px;
        height: 390px;
        left: 48px;
        top: 444px;
        background-position: center;
        
    }
    
    .photo3-ux {

        position: absolute;
        width: 151px;
        height: 46px;
        left: 205px;
        top: 546px;
        background-size: 151px 150px;
        background-position: center 82px;
    }
    
    .photo4-ux {
    
        position: absolute;
        width: 114px;
        height: 101px;
        left: 224px;
        top: 639px;
        border-radius: 23px;
        background-position: center;
    }
    
    .photo5-ux {
    
        position: absolute;
        width: 114px;
        height: 55px;
        left: 237px;
        top: 779px;
        background-position: -43px 68px;
        background-size: 175px 85px;
        border-radius: 69px;
    
    }
    
    .description-ux {
    
        position: absolute;
        width: 98px;
        height: 72px;
        left: 245px;
        top: 408px;
        font-size: 10px;
    }
    
    .photo6-ux {
    
        position: absolute;
        width: 294px;
        height: 292px;
        left: 33px;
        top: 856px;
        border-radius: 42px;
    }
    
    .photo7-ux {
    
        display: none;
    }

    .photo8-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 78px;
        left: -16px;
        top: 750px;
        border-radius: 11px;

    }

    .photo9-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 240px;
        left: 47px;
        top: 1163px;
        border-radius: 48px;

    }

    .photo10-ux {
    
        display: none;
    }

    .video1-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1426px;
        border-radius: 28px;

    }

    .video1-ux video {

        width: 100%;
        height: 100%;
    }


    .video2-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1709px;
        border-radius: 28px;

    }
    
    .video2-ux video {

        width: 100%;
        height: 100%;
    }

    .description-soyte {
    
        display: none;
    }
    
    .frame-te {
    
        display: none;
    
    }
    

}

@media (min-width:429px) and (max-width: 520px) {

    .ux-container {

        display: block;
        position: absolute;
        top: 900px;
        left: 0px;
    
    }

    .ux-container-t {

        top: 0px;
        transition: top 1s;
    }
    
    .photo1-ux {
    
        position: absolute;
        width: 249px;
        height: 255px;
        left: 11px;
        top: 86px;
        background-position: center;
        border-radius: 180px;
    }
    
    .photo2-ux {

        position: absolute;
        width: 157px;
        height: 390px;
        left: 48px;
        top: 444px;
        background-position: center;
        
    }
    
    .photo3-ux {

        position: absolute;
        width: 151px;
        height: 46px;
        left: 205px;
        top: 546px;
        background-size: 151px 150px;
        background-position: center 82px;
    }
    
    .photo4-ux {
    
        position: absolute;
        width: 114px;
        height: 101px;
        left: 224px;
        top: 639px;
        border-radius: 23px;
        background-position: center;
    }
    
    .photo5-ux {
    
        position: absolute;
        width: 114px;
        height: 55px;
        left: 237px;
        top: 779px;
        background-position: -43px 68px;
        background-size: 175px 85px;
        border-radius: 69px;
    
    }
    
    .description-ux {
    
        position: absolute;
        width: 98px;
        height: 72px;
        left: 245px;
        top: 408px;
        font-size: 10px;
    }
    
    .photo6-ux {
    
        position: absolute;
        width: 294px;
        height: 292px;
        left: 33px;
        top: 856px;
        border-radius: 42px;
    }
    
    .photo7-ux {
    
        display: none;
    }

    .photo8-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 78px;
        left: -16px;
        top: 750px;
        border-radius: 11px;

    }

    .photo9-ux {

        display: block;
        position: absolute;
        width: 240px;
        height: 240px;
        left: 47px;
        top: 1163px;
        border-radius: 48px;

    }

    .photo10-ux {
    
        display: none;
    }

    .video1-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1426px;
        border-radius: 28px;

    }

    .video1-ux video {

        width: 100%;
        height: 100%;
    }


    .video2-ux {

        display: block;
        position: absolute;
        width: 136px;
        height: 260px;
        left: 104px;
        top: 1709px;
        border-radius: 28px;

    }
    
    .video2-ux video {

        width: 100%;
        height: 100%;
    }

    .description-soyte {
    
        display: none;
    }
    
    .frame-te {
    
        display: none;
    
    }
    

}

@media (min-width:521px) and (max-width: 768px) {

    .ux-container {

        display: block;
        position: absolute;
        top: 900px;
        left: 0px;
    
    }

    .ux-container-t {

        top: 0px;
        transition: top 1s;
    }
    
    .photo1-ux {
    
        position: absolute;
        width: 407px;
        height: 407px;
        left: 83px;
        top: 183px;
        background-position: center;
        border-radius: 407px;
    }
    
    .photo2-ux {

        position: absolute;
        width: 228px;
        height: 567px;
        left: 137px;
        top: 703px;        
        background-position: center;
        
    }
    
    .photo3-ux {

        position: absolute;
        width: 317px;
        height: 91px;
        left: 410px;
        top: 827px;
        background-repeat: no-repeat;
        background-size: 340px 300px;
        background-position: -20px -140px;

    }
    
    .photo4-ux {
    
        position: absolute;
        width: 225px;
        height: 188px;
        left: 456px;
        top: 986px;
        border-radius: 23px;
        background-position: center;
    }
    
    .photo5-ux {
    
        position: absolute;
        width: 276px;
        height: 139px;
        left: 456px;
        top: 1185px;
        background-repeat: no-repeat;
        background-position: -105px -50px;
        background-size: 430px 230px;
        border-radius: 69px;
    
    }
    
    .description-ux {
    
        position: absolute;
        width: 142px;
        height: 104px;
        left: 423px;
        top: 651px;
        font-size: 10px;
    }
    
    .photo6-ux {
    
        position: absolute;
        width: 553px;
        height: 506px;
        left: 85px;
        top: 1381px;
        border-radius: 42px;
    }
    
    .photo7-ux {
    
        display: none;
    }

    .photo8-ux {

        display: block;
        position: absolute;
        width: 464px;
        height: 360px;
        left: -20px;
        top: 940px;
        border-radius: 11px;

    }

    .photo9-ux {

        display: block;
        position: absolute;
        width: 677px;
        height: 677px;
        left: 4px;
        top: 1935px;
        border-radius: 48px;

    }

    .photo10-ux {
    
        display: none;
    }

    .video1-ux {

        display: block;
        position: absolute;
        width: 198px;
        height: 378px;
        left: 266px;
        top: 2660px;
        border-radius: 28px;

    }

    .video1-ux video {

        width: 100%;
        height: 100%;
    }


    .video2-ux {

        display: block;
        position: absolute;
        width: 198px;
        height: 378px;
        left: 284px;
        top: 3086px;
        border-radius: 28px;

    }
    
    .video2-ux video {

        width: 100%;
        height: 100%;
    }

    .description-soyte {
    
        display: none;
    }
    
    .frame-te {
    
        display: none;
    
    }
    

}