@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
@font-face {
    font-family: KyivType Sans;
    src: url('../../assets/fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular-.otf');
  }

.aboutme-title {

    margin: auto;
    font-family: 'Kosugi', sans-serif;
    font-size: 128pt;
    font-weight: 400;
    text-align: center;
}

.aboutme-text {

    width: 80%;
    margin: auto;
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 400;
    font-size: 32pt;
    text-align: center;
}

@media ((max-width: 360px) and (max-height: 640px)) or ((max-width: 375px) and (max-height: 667px)) {

    .aboutme-title {

        position: absolute;
        width: 256px;
        height: 64px;
        left: 55px;
        top: 45px;
        font-family: 'Kosugi', sans-serif;
        font-weight: 400;
        font-size: 64px;
        line-height: 64px;
    }
    
    .aboutme-text {
    
        position: absolute;
        width: 309px;
        height: 136px;
        left: 29px;
        top: 227px;
        font-family: 'KyivType Sans',sans-serif;
        font-style: normal;
        font-weight: 350;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }

}

