@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');
@font-face {
    font-family: KyivType Sans;
    src: url('../../assets/fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Regular-.otf');
  }

.aboutme-title {

    margin: auto;
    font-family: 'Kosugi', sans-serif;
    font-size: 128pt;
    font-weight: 400;
    text-align: center;
}

.aboutme-text {

    width: 50%;
    margin: auto;
    font-family: 'KyivType Sans', sans-serif;
    font-weight: 400;
    font-size: 32pt;
    text-align: center;
}

.aboutme-image {
    
    margin: auto;
    bottom: 551px;
    height: 549px;
    width: 1046px;
    background-image: url('../../assets/images/sobremi-imagen.png');
    background-size: cover;
}