.soap-container {

    margin-top:295px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    'photo1 photo2'
    'photo3 desc';
}

.soap-container div {

    margin: auto;
}

.photo1-soap {
    width: 610px;
    height: 468px;
    background-image: url('../../assets/images/fotografia/producto/cvaly.png');
    background-size: cover;
    grid-area: photo1;
}

.photo2-soap {
    width: 419px;
    height: 583px;
    background-image: url('../../assets/images/fotografia/producto/civaly\ 2.png');
    background-size: cover;
    grid-area: photo2;
}

.photo3-soap {
    width: 833px;
    height: 611px;
    background-image: url('../../assets/images/fotografia/producto/civaly\ mockup.png');
    background-size: cover;
    grid-area: photo3;
    border-radius: 72px;
}


.description-soap {

    position: relative;
    left: 50px;
    width: 329px;
    height: 119px;
    font-family: 'KyivType Sans';
    grid-area: desc;
    text-align: center;
    align-self: center;
}

@media (min-width:320px) and (max-width:428px) {

    .soap-container {

        margin-top: 0px;
        display: block;
        position: absolute;
        left: -700px;

    }

    .soap-container-t {
        left: 0px;
        transition: left 1s;
    }
    
    .photo1-soap {
        position: absolute;
        width: 145px;
        height: 134px;
        left: 0px;
        top: 95px;
        border-radius: 94px;
    }
    
    .photo2-soap {

        position: absolute;
        width: 167px;
        height: 285px;
        left: 156px;
        top: 87px;
        border-radius: 39px;
    }
    
    .photo3-soap {

        position: absolute;
        width: 298px;
        height: 184px;
        left: 10px;
        top: 445px;
        border-radius: 72px;
    }
    
    
    .description-soap {
    
        position: absolute;
        width: 141px;
        height: 168px;
        left: 10px;
        top: 241px;
    }

    .description-soap h1 {

        font-size: 20px;
    }

    .description-soap p {
        font-size: 10px;
    }
}

@media (min-width:1360px) and (max-width:1440px) {

    .soap-container {

        margin-top:100px;

    }
    
    .photo1-soap {

        position: relative;
        width: 270px;
        height: 210px;
        left: 100px;

    }
    
    .photo2-soap {
        position: relative;
        width: 150px;
        height: 273px;
        left: -200px;

    }
    
    .photo3-soap {

        position: relative;
        width: 463px;
        height: 261px;
        left: 100px;
 
    }
    
    
    .description-soap {
    
        position: relative;
        top: -20px;
        left: -200px;
        width: 229px;
        height: auto;
        font-size: 12px;

    }

}