.music-container {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    text-align: center;
}

.music-photo {

    width: 1042px;
    height: 800px;
    background-image: url('../../assets/images/fotografia/documental/musica\ de\ ciegos.png');
    background-size: cover;
    margin: 10px;
}

.music-footer {

    margin: auto;
    font-family: 'KyivType Sans';
    font-weight: 800;
    font-size: 20pt;
    justify-content: center;

}

.music-desc {

    margin: auto;
    justify-content: center;
   
}

@media ((max-width: 360px) and (max-height: 640px)) or ((max-width: 375px) and (max-height: 667px)) or ((max-width: 360px) and (max-height: 720px)) {

    .music-container {

        margin: auto;
        position: absolute;
        left: 600px;

    }

    .music-container-t {

        left: 0px;
        transition: left 1s;
    }
    
    .music-photo {
    
        margin: auto;
        position: absolute;
        width: 316px;
        height: 248px;
        left: 24px;
        top: 158px;
    }
    
    .music-footer {
    
        margin: auto;
        position: absolute;
        width: 215px;
        height: 28px;
        left: 84px;
        top: 421px;
        font-size: 20px;
        
    
    }
    
    .music-desc {
    
        margin: auto;
        position: absolute;
        width: 253px;
        height: 28px;
        left: 63px;
        top: 477px;
        font-size: 11px;
        text-align: center;
       
    }
}